<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">assigntu</a>
    <p class="navbar-text">Editing <a href="#/lists/{{ list.id }}" class="navbar-link">{{ list.name }}</a></p>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a class="clickable" ng-click="deleteList()">Delete List</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="form-group">
    <label for="list-name">List Name</label>
    <input type="text" class="form-control" id="list-name" ng-model="list.name" placeholder="List Name">
  </div>

  <h5>Items</h5>

  <p ng-if="!list.items">You haven't added anything to this list yet.</p>

  <ul class="list-unstyled">
    <li ng-repeat="item in list.items" class="row bottom10">
        <div class="col-lg-6">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" ng-model="item.completed">
            </span>
            <input type="text" class="form-control" ng-model="item.text">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="removeItem(item)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
          </div>
        </div>
    </li>
  </ul>

  <button type="button" class="btn btn-success" ng-click="saveList()">Save</button>
</div>