<h2>
  {{ list.name }}
  <button type="button" class="btn btn-default btn-xs" ng-click="editList()">
    <span class="glyphicon glyphicon-edit"></span>
  </button>
</h2>

<div ng-if="flash" class="alert alert-dismissable alert-{{ flash.style }}">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>{{ flash.style | exclamation }}</strong> {{ flash.message }}
</div>

<p ng-if="!remote.items">No Items</p>

<ul>
  <li ng-repeat="item in remote.items">
    <item item="item"></item>
  </li>
</ul>

<form ng-submit="newItem()">
  <input type="text" ng-model="item" /> <button type="submit">Add</button>
</form>