.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

.assigned .inline-editable {
  text-decoration: underline;
}

.jumbotron {
  margin-top: -20px;
}

.spa-view {
  margin-bottom: 25px;
}

.clickable {
  cursor: pointer;
}