<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">assigntu</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/tmrudick/assigntu">Github</a></li>
      <li><a href="mailto:tmrudick@gmail.com?subject=assigntu%20feedback">Feedback</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>Easy Group Lists</h1>
    <p>Tired of coordinating who's bringing what? Make one list so everyone can sign up.</p>
    <p><a class="btn btn-primary btn-lg" role="button" ng-click="createList()">Get started &raquo;</a></p>
  </div>
</div>